Redirect 301 /connecting http://ymcacommunityimpact.org/#impact-stories/connecting
Redirect 301 /health http://ymcacommunityimpact.org/#impact-stories/health
Redirect 301 /education http://ymcacommunityimpact.org/#impact-stories/education
Redirect 301 /accessibility http://ymcacommunityimpact.org/#impact-stories/accessibility
Redirect 301 /character-and-ethics http://ymcacommunityimpact.org/#impact-stories/character-and-ethics