$purple: #5c2e91;
$pink: #c6168d;
$blue: #0089d0;
$dark-green: #015f5e;
$green: #009f87;
$turqoise: #20bdbe;
$orange: #dd5928;
$light-orange: #f47721;
$yellow: #fcaf16;
$gray: #636466;
$red: #ed1c24;
$dark-red: #a92b31;
